<table>
  <tr>
     <th>Name</th>
     
</tr> 


<% @articles.each do |article|%>
<tr>
 <td> <%= article.title %> </td>
 <td> <%= article.text %> </td>
  <%@id=article.id%>
  <td><%=link_to Like.where(article_id: @id).count%></td>
  

 <td> <%= link_to "Show", article_path(article)%></td>


</tr>
<%end%>
</table>